.mw-search-results-container {
	.mw-search-results,
	.iw-results {
		padding-left: 0;
	}

	.mw-search-results {
		margin-right: -16px;

		.searchresult,
		.mw-search-result-data {
			padding-right: 32px;
		}
	}
}
