.searchresult-with-quickview {
	position: relative;
}

div.searchresult-with-quickview:hover:after {
	content: '';
	position: absolute;
	width: 24px;
	height: 100%;
	top: 0;
	right: -21px;
	background-image: url( ../assets/icons/arrow-forward.svg );
	background-repeat: no-repeat;
	background-position-y: center;
}
