.skin-minerva {
	.searchresult-with-quickview,
	.quickView-aria-button {
		&::after {
			content: '';
			position: absolute;
			width: 24px;
			height: ~'min( calc( 100% ), 162px )';
			top: 0;
			right: 8px;
			transition: transform 0.3s;
			z-index: -1;
		}
	}

	.searchresult-with-quickview {
		position: relative;

		&::after {
			background-image: url( ../assets/icons/arrow-down.svg );
			background-repeat: no-repeat;
			background-position-y: center;
		}
	}

	&.search-preview-open {
		.searchresult-with-quickview--open {
			&::after {
				transform: scaleY( -1 );
				// This calculation handle different searchResult height and prevent the arrow from moving
				// The values are set as follow:
				// - min( 100%, 342px): We get the min height or a max of 342px (this will cover small result and will prevent
				// the arrow from moving when the snippets expand)
				// - calc( X - 180px ) - we remove the search Preview height
				// - max( 58px, X ) - We set a minimum height. This cover the case in which there is 'no content to preview'
				height: ~'max( 58px, calc( min( 100%, 342px ) - 180px ) )';
			}
		}
	}

	// This is the table created by the thumbnail. This HTML structure is just present
	// when the search result have thumbnails
	table.searchResultImage {
		margin: 0;
	}

	.mw-search-result {
		margin-bottom: 16px;
	}
}
